---
import type { CollectionEntry } from "astro:content";
import SocialCard from "../cards/SocialCard.astro";

interface Props {
  posts: CollectionEntry<"social">[];
}
const { posts } = Astro.props;
---

<div class="social-grid">
  {posts.map((post) => <SocialCard url={post.data.url} text={post.data.text} />)}
</div>

<style>
  .social-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 420px), 1fr));
    gap: 24px;
  }
</style>
