---
import type { CollectionEntry } from "astro:content";
import NewsCard from "../cards/NewsCard.astro";

interface Props {
  posts: CollectionEntry<"social">[];
}
const { posts } = Astro.props;
---

<div class="social-grid">
  {posts.map((post) => <NewsCard {...post.data} />)}
</div>

<style>
  .social-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
  }
  @media (max-width: 900px) {
    .social-grid {
      grid-template-columns: 1fr;
    }
  }
</style>
